body {
  font-family: "Rubik", sans-serif;
}

h1 {
  font-weight: 600;
  font-size: 4rem;
  text-transform: capitalize;
}
h2 {
  font-size: 1.2rem;
}
h3 {
  font-size: 1rem;
  display: inline;
  margin-right: 0.5rem;
}

h4 {
  font-size: 3rem;
  text-align: center;
}

h5 {
  font-weight: 600;
}

ul .city {
  display: inline-flex;
  flex-direction: row;
  margin-right: 0.5rem;
}

.city-suggestion {
  margin: 0 auto;
  padding-left: 0%;
}

.date {
  display: inline-flex;
}

.conditions,
.forecast {
  font-size: 0.9rem;
  margin: 0.8rem auto;
  padding: 0.5rem;
  border: 1px solid transparent;
  border-radius: 8px;
  background: white;
}

.current-temp {
  font-size: 3rem;
  text-align: center;
}
.current-cond {
  font-weight: 300;
}

.unit {
  font-size: 1rem;
  position: relative;
  bottom: 1.45rem;
  text-decoration: none;
}

.forecast {
  text-align: center;
}
.icon {
  color: #2f6b77;
}

.min-temp {
  opacity: 50%;
}
